@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Griffy&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&display=swap");
@import "tailwindcss";

@plugin "daisyui";

@theme {
  --font-griffy: "Griffy", system-ui;
  --font-mon: "Montserrat", sans-serif;
}

html,
body,
#root {
  @apply bg-black text-white;
}

/* Swiper pagination dot color change */
.swiper-pagination-bullet {
  background-color: #facc15 !important; /* Tailwind এর yellow-400 */
  opacity: 0.6;
}

.swiper-pagination-bullet-active {
  background-color: #facc15 !important;
  opacity: 1;
}

/* কিছু smooth transition feeling */
.swiper {
  transition: all 0.3s ease;
}
